{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Sistema de Gestão de Tarefas</title>

    <link rel="stylesheet" href="{% static 'tarefas/style.css' %}">
</head>

<body>

    <div class="container">

        <div class="card">

            <h1>Sistema de Gestão de Tarefas</h1>

            <p>
                Bem-vinda, bem-vindo ou bem-vinde ao sistema
                de gerenciamento de tarefas.
            </p>

            <a class="botao" href="{% url 'lista_tarefas' %}">
                Acessar lista de tarefas
            </a>

        </div>

    </div>

</body>
</html>